[title] {
    color: red;
}

[title="About me"] {
    color: black;
}

[title~="Container"] {
    color: green;
}

[title*="tainer"] {
    background-color: rgb(206, 47, 255);
}

[title^="More"] {
    color: violet;
}

[title$="skills"] {
    background-color: yellow;
}