.box {
	width: 300px;
	height: 150px;
	border: 1px solid red;
	margin: 60px;
}

#visible {
	overflow: visible;
	color: green;
}

#hidden {
	overflow: hidden;
	color: blue;
}

#scroll {
	overflow: scroll;
	color: yellow;
}

#auto {
	overflow: auto;
	color: fuchsia;
}