img {
	height: 300px;
	margin-bottom: 300px;
	transition: all 0.5s;
	border: 1px solid black;
}

div {
	border: 1px solid deeppink;
}
.rotate img {
	transform: rotate(10deg);
}

.translate img {
	transform: translate(200px, 100px); 
}

.scale img:hover {
	transform: scale(2,2);
}

/* .animation img {
animation: realize;
animation-duration: 5s;
animation-iteration-count: infinite;
}

@keyframes realize {
	0%, 100% {
		height: 300px;
	}
	20% {
		height: 400px;
	}

} */

.animation img {
	animation: realize;
	animation-duration: 5s;
	animation-iteration-count: 2;
	animation-fill-mode: forwards;
	}
	
	@keyframes realize {
		0%, 100% {
			height: 300px;
		}
		20% {
			height: 400px;
		}
	
	}
	/* 	transform: rotate(15deg) translate(-20deg,0px); */
